//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///

$null: transparent;
$purple: #52489C;
$red: #E63946;
$pink: #F56B7C;
$white: #fff;
$black: #000;
$gray: mix($black, $white, 75%);


/*
 * Colori delle parti principali del sito
 */
$layout-colors: (
  body: (
    body:       $purple,      //Corpo - testo
    body-sec:   $gray,      //Secondario - blockquote o blog meta
    heading:    $purple,      //Titoli 1 e 2
    link:       $purple,      //Link
    bg:         $white,      //Sfondo principale
    border:     $red,      //Bordi

    accent:     $red,      //Accento - sfondo lista icone / grassetti / icone

    button:     $white,      //colore bottone
    button-bg:  $purple,
  ),

  footer: (
    body: $null,
    link: $null,
    accent: $null,
    border: $null,
    bg: $null,
    button-bg: $null,
    button: $null,
  ),
);



  /*
   * Colori delle Sezioni FW
   */
$colors: (
  purple: (
    body:       $white,      //Corpo - testo
    body-sec:   mix($purple, $white, 10%),      //Secondario - blockquote o blog meta
    heading:    $white,      //Titoli 1 e 2
    link:       $white,      //Link
    bg:         $purple,      //Sfondo principale
    washed:     mix($purple, $white, 80%),
    light:      mix($purple, $white, 2%),
    border:     $white,      //Bordi

    accent:     $white,      //Accento - sfondo lista icone / grassetti / icone

    button:     $white,      //colore bottone
    button-bg:  $red,
  ),
  red: (
    body:       $white,      //Corpo - testo
    body-sec:   mix($red, $white, 10%),      //Secondario - blockquote o blog meta
    heading:    $white,      //Titoli 1 e 2
    link:       $white,      //Link
    bg:         $red,      //Sfondo principale
    washed:     mix($red, $white, 80%),
    light:      mix($red, $white, 2%),
    border:     $white,      //Bordi

    accent:     $white,      //Accento - sfondo lista icone / grassetti / icone

    button:     $white,      //colore bottone
    button-bg:  $purple,
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
