//****************************************************************************//
//                                 COLORI
//              In questa sezione vengono configurati i colori
//            nella prima parte si utilizzano dei colori "veri" che
//            vengono setuppati in delle variabili dai nomi leggibili
//
//              Nella seconda parte le variabili vengono associate
//            ai valori della mappa $colors che utilizza invece nomi
//            legati alle funzioni svolte dal colore.
//****************************************************************************//

///
// SEZIONI COLORI - //TODO
// Usare qui le variabili semantiche segnate sopra
///

$null: transparent;
$bianco: #fff;
$nero: #212121;
$nero-vero: #000;
$nero-chiaro: #666;
$grigio: mix($nero, $bianco, 20%);
$facebook: #3a5795;
$twitter: #0084b4;


$rosso: #ce484f;
$fiesta: #dc6f65;
$fiesta-washed: #e09b90;
$ross-2: #F44336;
$orange: #FF8F00;
$verde: #4CAF50;
$verde-2: #43A047;
$marrone: #795548;
$marrone-2: #8D6E63;

$viola: #9C27B0;
$indigo: #3F51B5;

$teal: #009688;



$travel: $verde;
$sleep: $indigo;
$food: $teal;
$wine: $viola;


/*
 * Colori delle parti principali del sito
 */
$layout-colors: (
  topbar: (
    body: null,
    link: null,
    accent: null,
    border: null,
    bg: null,
    button-bg: $null,
    button: null,
    ),

  header: (
    body: $bianco,
    link: $null,
    accent: $null,
    border: $null,
    bg: $indigo,
    button-bg: $null,
    button: null,
    ),

  fheader: (
    body: $null,
    link: $null,
    accent: $null,
    border: $null,
    bg: $null,
    button-bg: $null,
    button: $null,
    ),

  footer: (
    body: $null,
    link: $null,
    accent: $null,
    border: $null,
    bg: $null,
    button-bg: $null,
    button: $null,
    ),

  sidebar: (
    body: $null,
    link: $null,
    accent: $null,
    border: $null,
    bg: $null,
    button-bg: $null,
    button: $null,
    ),
);



  /*
   * Colori delle Sezioni FW
   */
$colors: (
  main: (
    body:       $nero,      //Corpo - testo
    body-sec:   $null,      //Secondario - blockquote o blog meta
    heading:    rgba($nero, 0.68),      //Titoli 1 e 2
    link:       $null,      //Link
    bg:         $bianco,      //Sfondo principale
    border:     $null,      //Bordi

    accent:     $null,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),

  alternate: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $bianco,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $nero-chiaro,      //Sfondo principale
    washed:     mix($nero-chiaro, $bianco, 80%),
    light:      mix($nero-chiaro, $bianco, 8%),
    border:     $null,      //Bordi

    accent:     $null,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),

  food: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $null,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $food,      //Sfondo principale
    washed:     mix($food, $bianco, 80%),
    light:      mix($food, $bianco, 10%),
    border:     $null,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),

  sleep: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $null,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $sleep,      //Sfondo principale
    washed:     mix($sleep, $bianco, 80%),
    light:      mix($sleep, $bianco, 10%),
    border:     $null,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),

  travel: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $null,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $travel,      //Sfondo principale
    washed:     mix($travel, $bianco, 80%),
    light:      mix($travel, $bianco, 10%),
    border:     $bianco,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),

  wine: (
    body:       $bianco,      //Corpo - testo
    body-sec:   $null,      //Secondario - blockquote o blog meta
    heading:    $bianco,      //Titoli 1 e 2
    link:       $bianco,      //Link
    bg:         $wine,      //Sfondo principale
    washed:     mix($wine, $bianco, 80%),
    light:      mix($wine, $bianco, 10%),
    border:     $null,      //Bordi

    accent:     $bianco,      //Accento - sfondo lista icone / grassetti / icone

    body-alt:   $null,      //body alternativo - testo in un form o in un box
    bg-alt:     $null,      //sfondo alt - il bg di un form o di un box
    accent-alt: $null,      //accento alt - il di un link nel form

    form-body: $null,
    form-bg: $null,
    form-link: $null,
    form-desc: $null,

    overlay:    $nero-vero,      //Colore sfondo overlay

    button:     $bianco,      //colore bottone
    button-bg:  $verde,

    button-subtle: $null,
    button-bg-subtle: mix($verde, white, 50%)    //bg bottone
  ),
);

//****************************************************************************//                         //                                 BOTTONI
//****************************************************************************//

///
// Ombra
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
