//****************************************************************************//
//                                 COLORS
//
//****************************************************************************//

///
// Color Variables
///

$null: transparent;
$purple: #52489C;
$red: #E63946;
$pink: #F56B7C;
$white: #fff;
$black: #000;
$gray: mix($black, $white, 75%);


/*
 * Main colors map
 */
$layout-colors: (
  body: (
    body:       $purple,      //body color
    body-sec:   $gray,      //secondary body color
    heading:    $purple,      //Titles color
    link:       $purple,      //Link Color
    bg:         $white,      //Main background color
    border:     $red,      //Border Color

    accent:     $red,      //Accent Color

    button:     $white,      //Button color
    button-bg:  $purple,    //Button background color
  ),

  footer: (
    body: $null,
    link: $null,
    accent: $null,
    border: $null,
    bg: $null,
    button-bg: $null,
    button: $null,
  ),
);



  /*
   * Palette Color Map
   */
$colors: (
  purple: (
    body:       $white,      //body color
    body-sec:   mix($purple, $white, 10%),      //secondary body color
    heading:    $white,      //Titles color
    link:       $white,      //Link Color
    bg:         $purple,      //Main background color
    washed:     mix($purple, $white, 80%),
    light:      mix($purple, $white, 2%),
    border:     $white,      //Border Color

    accent:     $white,      //Accent Color

    button:     $white,      //Button color
    button-bg:  $red,    //Button background color
  ),
  red: (
    body:       $white,      //body color
    body-sec:   mix($red, $white, 10%),      //secondary body color
    heading:    $white,      //Titles color
    link:       $white,      //Link Color
    bg:         $red,      //Main background color
    washed:     mix($red, $white, 80%),
    light:      mix($red, $white, 2%),
    border:     $white,      //Border Color

    accent:     $white,      //Accent Color

    button:     $white,      //Button color
    button-bg:  $purple,    //Button background color
  ),
);


///
// Button Shadow
///
$button-shadow: 0 0.07em 0.085em 0 rgba(0, 0, 0, 0.26);
