//*==========================================================================*//
//*                                                                          *//
//*                   LAYOUT VARIABLES
//*                                                                          *//
//*==========================================================================*//

//***********************************************************************//
//            BASE WIDTHS and HEIGHTS
//***********************************************************************//
$width: 960px;
$website-width: em($width); //TODO

$gutter-small: $line-height;
$gutter: $line-height * 2;
$gutter-large: $line-height * 5;
$gutter-huge: $line-height * 8;



$height-small: $line-height;
$height: $line-height * 2;
$height-large: $line-height * 5;
$height-huge: $line-height * 8;

//***********************************************************************//
//            BOOTSTRAP CONFIG
//***********************************************************************//

///
// Enable Bootstrap Flex
///
$enable-flex: true;

///
// Changes bootstrap gutter with our gutter
///
$grid-gutter-width-base: $gutter;

$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

//***********************************************************************//
//             BREAKPOINT SETUP
//***********************************************************************//
$uxl: 1980px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
