//*==========================================================================*//
//*                                                                          *//
//*                   TYPOGRAPHY VARIABLES
//*                                                                          *//
//*==========================================================================*//

///
// Base body
///
  $base: 16;
  $font-size: 1em; //TODO
  $line-height: 1.625em; //TODO


///
// p and other standard elements
///
  $margin-top: 0em; //TODO
  $margin-bottom: 1.625em; //TODO


///
// Families
///
  $primary: 'PT Serif', serif; //TODO
  $secondary: 'Lato', sans; //TODO
  $special: $primary; //TODO
  $ff-button: $secondary;


///
// WEIGHTS for  Families
///
$families: (
  primary: (
    fm: $primary,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  secondary: (
    fm: $secondary,
    thin: 300,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),

  special: (
    fm: $special,
    thin: 400,
    normal: 400,
    bold: 700,
    bolder: 700,
  ),
);

///
// FONT DECORATION MAP
// fm: font-family
// wt: font-weight
///

$decorations: (
  p: (
    fm: primary,
    wt: normal,
  ),

  h1: (
    fm: secondary,
    wt: thin
  ),

  h2: (
    fm: secondary,
    wt: thin,
  ),

  h3: (
    fm: secondary,
    wt: thin,
  ),

  h4: (
    fm: secondary,
    wt: normal,
  ),

  h5: (
    fm: secondary,
    wt: normal,
  ),

  small: (
    fm: secondary,
    wt: normal,
  ),
);
////
// FONT SIZES
// fs: font-size
// lh: line-height
// mt: margin-top
// mb: margin-bottom
////
  $sizes: (
    p: (
      fs: 1em,
      lh: $line-height,
      mt: $margin-top,
      mb: $margin-bottom,
    ),

    h1: (
      fs: 4.625em,
      lh: 1.05405405em,
      mt: 0.35135135em,
      mb: 0.7027027em,
    ),

    h2: (
      fs: 2.75em,
      lh: 1.18181818em,
      mt: 0.59090909em,
      mb: 0.59090909em,
    ),

    h3: (
      fs: 1.625em,
      lh: 1em,
      mt: 1em,
      mb: 1em,
    ),

    h4: (
      fs: 1em,
      lh: 1.625em,
      mt: 1.625em,
      mb: 1.625em,
    ),

    h5: (
      fs: 0.75em,
      lh: 2.166666666667em,
      mt: 2.166666666667em,
      mb: 2.166666666667em,
    ),

    small: (
      fs: 0.75em,
      lh: 2.166666666667em,
      mt: 2.166666666667em,
      mb: 2.166666666667em,
    ),
);

$mobile-sizes: (
  h1: (
    fs: 1.953125em,
    lh: 1.538461538461538em,
    mt: 1.536em,
    mb: 0.768em,
  ),

  h2: (
    fs: 1.5625em,
    lh: 1.935483870967742em,
    mt: 0.96em,
    mb: 0.96em,
  ),

  h3: (
    fs: 1.25em,
    lh: 1.2em,
    mt: 1.8em,
    mb: 0.6em,
  ),
);

////
// Typography details
////
  $sup-top: -0.5em; //TODO
  $sub-bottom: -0.25em; //TODO
  $hr-spacing: 1px; //TODO



//****************************************************************************//
//                                      FORMS
//****************************************************************************//

$forms: (
  field: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  label: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),

  desc: (
    fm: family(secondary, fm),
    wt: family(secondary, normal),
  ),
);
