//****************************************************************************//
//                                 TIPOGRAFIA
//
//
//
//****************************************************************************//



//****************************************************************************//
//                            Base tipography
//****************************************************************************//

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $primary;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1 {
  @include font(h1);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}

h2 {
  @include font(h2);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}

h3 {
  @include font(h3);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h3);
  }
}

.h3 {
  @include font(h3);
  font-weight: inherit;
}

h4 {
  @include font(h4);
  color: main-colors(body, heading);
}

p {
  @include font(p);
  color: main-colors(body, body);
}

.accent {
  color: main-colors(body, accent)
}

p, h1, h2, h3, h4, h5, ol, ul, blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  @include size(p);
  @include margin(p);
  color: main-colors(body, body);
}


.section__title {
  @include font(h2);

  text-transform: uppercase;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.section__title::before,
.section__title::after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px dashed main-colors(body, border);
  top: 1.25em;
  //max-width: 550px;
  width: 150%;
}

.section__title::before {
  right: 70%;
  margin-right: 15px;
}
.section__title::after {
  left: 70%;
  margin-left: 15px;
}


///
// LAYOUT EX
///
//.row {
// @include make-row();
// width: 100%;
//}

//.column {
//  @include make-col-ready();
//  @include make-col(6);;
//}
