//****************************************************************************//
//                                 TIPOGRAFIA
//
//
//
//****************************************************************************//


//****************************************************************************//
//                            Mixin per la tipgrafia
//****************************************************************************//




//****************************************************************************//
//                            Base tipography
//****************************************************************************//

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $serif;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1 {
  @include font(h1);
  color: palette(main, heading);

  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}
h2 {
  @include font(h2);
  color: palette(main, heading);

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}
h3 {
  @include font(h3);
  color: palette(main, heading);

  @include breakpoint-max(sm) {
    @include m-size(h3);
  }
}

p {
  @include font(p);
  color: palette(main, body);

  strong {
    color: palette(main, heading);
    line-height: 0;
  }
}

p, h1, h2, h3, h4, h5, ol, ul, blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  @include size(p);
  @include margin(p);
}

blockquote {

  width: 45%;
  margin-right: 5%;
  padding: $line-height 0 $line-height $line-height;
  border-top: 2px solid;
  border-bottom: 2px solid;
  position: relative;

  &::before {
    content: "\201C";
    font-size: 10em;
    display: inline;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0.2;
  }
}

.row {
 @include make-row();
 width: 100%;
}

.column {
  @include make-col-ready();
  @include make-col(6);;
}
