//****************************************************************************//
//                                 TIPOGRAFIA
//
//
//
//****************************************************************************//



//****************************************************************************//
//                            Base tipography
//****************************************************************************//

body {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $serif;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1 {
  @include font(h1);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h1);
  }
}

h2 {
  @include font(h2);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h2);
  }
}

h3 {
  @include font(h3);
  color: main-colors(body, heading);

  @include breakpoint-max(sm) {
    @include m-size(h3);
  }
}

h4 {
  @include font(h4);
  color: main-colors(body, heading);
}

p {
  @include font(p);
  color: main-colors(body, body);

  strong {
    color: main-colors(body, heading);
    line-height: 0;
  }
}

p, h1, h2, h3, h4, h5, ol, ul, blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul, ol {
  @include size(p);
  @include margin(p);
  color: main-colors(body, body);
}


///
// LAYOUT EX
///
//.row {
// @include make-row();
// width: 100%;
//}

//.column {
//  @include make-col-ready();
//  @include make-col(6);;
//}
