///
// Intro section
////
.intro__section {
  @include breakpoint-max(md) {
    padding-top: 0;
  }

  .intro__section-inner {
    max-width: $website-width;
    margin: 0 auto;

    @include breakpoint-max(lg) {
      padding: 0 $line-height;
    }

    @include breakpoint-max(md) {
      background-color: palette(red, bg);
      padding-top: $line-height *2;

      @include breakpoint-max(xs) {
        padding-bottom: $line-height;
      }
    }
  }

  .intro__headline {
    @include font(h3, $wt: normal);

    position: relative;
    z-index: 1;

    @include breakpoint-max(md) {
      color: palette(red, body);
      padding-bottom: 0;
    }

    @include breakpoint-max(sm) {
      @include m-size(h3);

      font-weight: family(secondary, thin);
    }
  }
}



///
// title
///
.intro__title-container {
  max-width: $website-width;
  margin: 0 auto;
  position: relative;
  padding: $height 0;

  @include breakpoint-max(md) {
    background-color: transparent;
    padding-top: 0;
  }

  &::before {
    width: 0; height: 0;
    font-size: size(h1, fs) + 1.2;

    border-top: 14em solid transparent;
    border-bottom: 14em solid transparent;
    border-right: 18em solid palette(purple, bg);
    border-radius: 100%;

    content: "";
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: -(size(h1, fs) * 2.432);
    left: 0;

    @include breakpoint-max(xl) {
      content: none;
    }
  }

  &::after {
    width: 0; height: 0;
    font-size: size(h1, fs);

    border-top: 14em solid transparent;
    border-bottom: 14em solid transparent;
    border-right: 18em solid palette(red, bg);
    border-radius: 100%;

    content: "";
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: -(size(h1, fs) * 2.28);
    left: 0;

    @include breakpoint-max(md) {
        content: none;
    }
  }


  .svg-container {
    position:absolute;
    width: 100%;
    left: 0;
    top: -1px;

    @include breakpoint-min(md) {
      display: none;
    }

    @include breakpoint-max(md) {
      height: 340%;
    }

    @include breakpoint-max(sm) {
      height: auto;
    }

    @include breakpoint-max(xs) {
      height: 420%;
    }
  }

  .intro__title {
    text-align: center;
    color: palette(red, heading);
    position: relative;
    line-height: size(h1, lh) * 1.5;
    z-index: 1;

    @include breakpoint-max(md) {
      line-height: 1;
    }

    @include breakpoint-max(xs) {
      margin-top: 0;
    }

    strong {
      font-weight: 700;
    }
  }

  .intro__title--remote,
  .intro__title--worker,
  .intro__title--survey {
    display: block;
  }

  .intro__title--remote {
    font-weight: 700;
    letter-spacing: 6px;

    @include breakpoint-max(sm) {
      letter-spacing: 4px;
    }
  }

  .intro__title--worker {
    font-weight: 700;
  }

  .intro__title--survey {
    letter-spacing: 9px;

    @include breakpoint-max(sm) {
      letter-spacing: 5px;
    }
  }
}







.ctas__container {
  @include  make-row();

  padding: ($line-height * 3) 0 0 0;
  position: relative;

  .ctas__sponsor-container {
    @include make-col-ready();
    @include make-col(4);
  }

  .ctas__sponsor {
    @include font(p, $fm: secondary, $mb: 0); //fm = font-family | mb = margin-bottom
    color: main-colors(body, accent);
    text-transform: uppercase;
  }

  .ctas__sponsor--big {
    @include font(h3, $mt: 0, $wt: bold); //mt = margin-top | wt = font-weight
    color: main-colors(body, accent);
  }

  .ctas__skewed-text {
    position: absolute;
    text-transform: uppercase;
    transform: rotate(37.6deg);
    top: $line-height / 2;
    left: -$line-height * 2;
    font-family: $secondary;
    letter-spacing: 1px;

    @include breakpoint-max(md) {
    }

    @include breakpoint-max(sm) {
    }
  }

  .ctas__survey {
    text-align: center;
    position: fixed;
    bottom: $line-height;
    right: $line-height * 8;
    height: $line-height * 5;
    width: $line-height * 5;
    box-shadow: $button-shadow-rounded;
    border-radius: 100%;
    text-transform: uppercase;
    font-family: $secondary;
    display: block;
    z-index: 2;
    text-decoration: none;
    background-color: palette(purple, bg);
    color: palette(purple, link);

    &--small {
      display: block;
      padding-top: $line-height * 1.25;
    }

    &--big {
      @include font(h3, $mt: 0, $wt: bold);
    }

    @include breakpoint-max(sm) {
      float: none;
      margin: 0 auto;
      margin-bottom: 0;
      position: fixed;
      top: 85%;
      right: 5%;
      z-index: 9999999;
      font-size: 0.5em;

    }
  }
}
