///
// Preheader Date
///

.date__container {
  @include breakpoint-max(md) {
    background-color: palette(red, bg);
    padding-top: $line-height * 2;


    .column--1-3 {
      @include make-col(12);
      text-align: center;

      padding-top: 0;
      padding-bottom: 0;

    }
  }
}
.date {
  @include font(h3, $wt: normal);

  position: relative;
  z-index: 1;

  @include breakpoint-max(md) {
    color: palette(red, body);
    padding-bottom: size(h3, lh);
  }

  @include breakpoint-max(sm) {
    @include m-size(h3);
    font-weight: family(secondary, thin);
  }
}

///
// title
///
.title__container {
  padding: $height 0;

  @include breakpoint-max(md) {
    background-color: transparent;
    padding-top: 0;


    .column--1-2,
    .column--1-4 {
      @include make-col(12);

      padding-top: 0;
      padding-bottom: 0;
    }
  }


}

.title {
  text-align: center;
  color: palette(red, heading);
  z-index: 0;
  position: relative;
  line-height: size(h1, lh) * 1.5;

  @include breakpoint-max(md) {
    line-height: 1;
  }

  strong {
    font-weight: 700;
  }
}

.svg-container{
  position:absolute;
  width: 100%;
  left: 0;
  top: -1px;
  @include breakpoint-min(md) {
    display: none;
  }
}

.title--remote,
.title--worker,
.title--survey {
  display: block;
}

.title--remote {
  font-weight: 700;
  letter-spacing: 6px;

  @include breakpoint-max(sm) {
    letter-spacing: 4px;
  }
}

.title--worker {
  font-weight: 700;
}

.title--survey {
  letter-spacing: 9px;

  @include breakpoint-max(sm) {
    letter-spacing: 5px;
  }

}

.title::before {
  width: 0;
  height: 0;
  border-top: 14em solid transparent;
  border-bottom: 14em solid transparent;
  border-right: 18em solid palette(red, bg);
  //-moz-border-radius: 50%;
  //-webkit-border-radius: 50%;
  border-radius: 100%;
  content: "";
  display: inline-block;
  position: absolute;
  //outline: 5px solid blue;
  z-index: -3;
  //top: -455%; //1170px
  //right: -200%; //1170px
  top: -245%;
  right: -143%;

  @include breakpoint-max(md) {
      width: 0;
      content: none;
  }
}

.title::after {
  width: 0;
  height: 0;
  border-top: 16em solid transparent;
  border-bottom: 16em solid transparent;
  border-right: 20.5em solid palette(purple, bg);
  border-radius: 100%;
  content: "";
  display: inline-block;
  position: absolute;
  //outline: 5px solid blue;
  z-index: -4;
  //top: -506%; //1170px
  //right: -250%; //1170px
  top: -287.4%;
  right: -184.45%;;

  @include breakpoint-max(xl) {
    content: none;
  }
}


.cta__container {
  padding-top: $height;
  padding-bottom: $height;

  @include breakpoint-max(md)  {
    margin-top: $line-height * 3;
  }

  @include breakpoint-max(sm) {
    flex-flow: column-reverse;
    padding-bottom: 0;

    .column--1-3 {
      @include make-col(12);
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.cta__skewed-text {
  position: absolute;
//  z-index: 222;
  text-transform: uppercase;
  width: 250%;
  transform: rotate(37.8deg);
  top: -80px;
  right: -120px;
  font-family: $secondary;
  letter-spacing: 1px;

  @include breakpoint-max(lg) {
    top: 30%;
    right: -60%;
  }

  @include breakpoint-max(md) {
    position: absolute;
    transform: rotate(0);
    top: -$line-height * 4;
    width: 250%;
    right: -$line-height * 6;
    text-align: center;
    padding-top: $line-height;
    padding-bottom: $line-height;
  }

  @include breakpoint-max(sm) {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    padding-top: 0;
    padding-bottom: $line-height * 2;
  }
}

.cta--sponsor {
  @include font(p, $fm: secondary);
  color: main-colors(body, accent);
  text-transform: uppercase;

  strong {
    font-weight: 700;
  }
}

.cta--take-survey {
  text-align: center;
  float: right;
  height: $line-height * 5;
  width: $line-height * 5;
  box-shadow: $button-shadow-rounded;
  border-radius: 100%;
  position: relative;
  text-transform: uppercase;
  font-family: $secondary;

  a {
    display: block;
    text-decoration: none;
    padding-top: $line-height * 1.5;
  }

  strong {
    font-weight: 700;
  }

  @include breakpoint-max(sm) {
    float: none;
    margin: 0 auto;
    margin-bottom: 0;
    position: fixed;
    top: 85%;
    right: 5%;
    z-index: 9999999;
    font-size: 0.5em;

  }
}
