///
// Preheader Date
///
.date {
  @include font(h3, $wt: normal);

  //text-align: right;
}

.title__container {
  padding: $height 0;
}

.title {
  text-align: center;
  color: palette(red, heading);
  z-index: 1;
  position: relative;
}

.cta__container {
  padding: $height 0 $height 0;
}

.cta--sponsor {
  @include font(p, $fm: secondary);
  color: main-colors(body, accent);

}

.cta--take-survey {
  text-align: center;
  float: right;
  height: $line-height * 5;
  width: $line-height * 5;
  box-shadow: $button-shadow-rounded;
  border-radius: 100%;
  position: relative;
  z-index: 1;

  a {
    display: block;
    text-decoration: none;
    padding-top: $line-height * 1.5;
  }
}

.title::before {
width: 0;
height: 0;
border-top: 16em solid transparent;
border-bottom: 16em solid transparent;
border-right: 16em solid palette(red, bg);
//-moz-border-radius: 50%;
//-webkit-border-radius: 50%;
border-radius: 100%;
content: "";
display: inline-block;
position: absolute;
//outline: 5px solid blue;
z-index: -1;
top: -455%;
right: -200%;
}

.title::after {
  width: 0;
  height: 0;
  border-top: 18em solid transparent;
  border-bottom: 18em solid transparent;
  border-right: 18em solid palette(purple, bg);
  border-radius: 100%;
  content: "";
  display: inline-block;
  position: absolute;
  //outline: 5px solid blue;
  z-index: -2;
  top: -506%;
  right: -250%;
}
