.why__section {
  margin-top: ($line-height * 10);
	padding: ($line-height * 2) 0;

  @include breakpoint-max(md) {
    margin-top: 0;
    padding-top: $line-height;
  }

  .why__section-inner {
    max-width: $website-width;
    margin: 0 auto;
    position: relative;

    @include breakpoint-max(lg) {
      padding: 0 $line-height;
    }

    .why__section-title {
      @include section-title();
      text-transform: uppercase;
      text-align: center;
      padding-bottom: size(h2, lh);

      &::before,
      &::after {
        border-color: main-colors(body, border);
      }
    }

    .why__text-container {
      @include make-row;
      padding: ($line-height * 4) 0;

      .why__text-col {
        @include make-col-ready();
        @include make-col(6);
        text-align: justify;

        box-sizing: border-box;

        @include breakpoint-max(md) {
          @include make-col(12);
          &:nth-child(2){
            padding-top: $line-height;
          }
        }
      }
    }
  }
}
